@font-face {
    font-family: 'latoblack';
    src: url('fontes/lato-black-webfont.eot');
    src: url('fontes/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    src: url('fontes/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-black-webfont.woff') format('woff'),
         url('fontes/lato-black-webfont.ttf') format('truetype'),
         url('fontes/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack_italic';
    src: url('fontes/lato-blackitalic-webfont.eot');
    src: url('fontes/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/fontes/lato-blackitalic-webfont.woff') format('woff'),
         url('fontes/lato-blackitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('fontes/lato-bold-webfont.eot');
    src: url('fontes/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-bold-webfont.woff') format('woff'),
         url('fontes/fontes/fontes/fontes/lato-bold-webfont.ttf') format('truetype'),
         url('fontes/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold_italic';
    src: url('fontes/lato-bolditalic-webfont.eot');
    src: url('fontes/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-bolditalic-webfont.woff') format('woff'),
         url('fontes/lato-bolditalic-webfont.ttf') format('truetype'),
         url('fontes/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline';
    src: url('fontes/lato-hairline-webfont.eot');
    src: url('fontes/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-hairline-webfont.woff') format('woff'),
         url('fontes/lato-hairline-webfont.ttf') format('truetype'),
         url('fontes/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline_italic';
    src: url('fontes/lato-hairlineitalic-webfont.eot');
    src: url('fontes/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-hairlineitalic-webfont.woff') format('woff'),
         url('fontes/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('fontes/lato-italic-webfont.eot');
    src: url('fontes/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-italic-webfont.woff') format('woff'),
         url('fontes/lato-italic-webfont.ttf') format('truetype'),
         url('fontes/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fontes/lato-light-webfont.eot');
    src: url('fontes/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-light-webfont.woff') format('woff'),
         url('fontes/lato-light-webfont.ttf') format('truetype'),
         url('fontes/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight_italic';
    src: url('fontes/lato-lightitalic-webfont.eot');
    src: url('fontes/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-lightitalic-webfont.woff') format('woff'),
         url('fontes/lato-lightitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('fontes/lato-regular-webfont.eot');
    src: url('fontes/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-regular-webfont.woff') format('woff'),
         url('fontes/lato-regular-webfont.ttf') format('truetype'),
         url('fontes/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	border:0;
	list-style: none;
	text-decoration: none;
    font-weight: normal;
}
table{
	border-collapse: collapse;
}
body{
     background: #f3f4f4;
     width: 100%;
     overflow-x: hidden; 
}
#geral{
	position: relative;
	width: 100%;
}
.centraliza{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/* ============================= header =========================== */
#geral #header{
	background: url(../imagens/bg-cont-header.jpg) repeat;
	position: relative;
	width: 100%;
	height: 351px;
}
#geral #header h1 a.logo{
	background: url(../imagens/logo.png) repeat;
	width: 191px;
	height: 169px;
	display: block;
	text-indent: -9999px;
	margin: 32px 20px 0 0;
	float: left;
}
#geral #header .banner{
	position: relative;
    float: left;
    width: 728px;
    height: 90px;
    margin: 20px 0 0 0; 
}
#geral #header .busca{
    background: url(../imagens/bg-busca.png) repeat;
    position: relative;
    width: 423px;
    height: 56px;
    float: left;
    margin-top: 18px;
}
#geral #header .busca input[type="text"]{
    background: none;
    width: 350px;
    height: 50px;
    margin: 1px 0 0 25px;
    font-family: 'latolight_italic';
    font-size: 25px;
    color: #fff;
    float: left;
}
#geral #header .busca input[type="buttom"]{
    background: url(../imagens/ico-busca.png) repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: left;
    margin-top: 7px;
}
#geral #header .selecaoEstadoCidade{
    background: url(../imagens/bg-selecao-estado-cidade.png) repeat;
    float: left;
    width: 297px;
    height: 50px;
    margin: 19px 0 0 10px;
}
#geral #header .extHeader{
    background: url(../imagens/bg-header.png) no-repeat scroll -10px 0;
    width: 960px;
    height: 100px;
    position: relative;
    float: left;
    clear: both;
}
#geral #header .extHeader ul{
    margin: 5px 0 0 220px;
    float: left;
}
#geral #header .extHeader ul li{
    float: left;
    margin-left: 25px;
}
#geral #header .extHeader ul li:first-child{
    margin-left: 0;
}
#geral #header .extHeader ul li a{
    width: 137px;
    height: 40px;
    line-height: 38px;
    display: block;
    text-align: center;
    font-family: 'latoitalic';
    color: #b9b9b9;
    text-transform: uppercase;
}
#geral #header .extHeader ul li a.atv, #geral #header .extHeader ul li a:hover{
     background: url(../imagens/bg-selecao.png) no-repeat scroll 0 0; 
     color: #fff;
}
#geral #header .boxBusca{
    background: url(../imagens/bg-box-busca.jpg) no-repeat scroll 0 0; 
    width: 920px;
    height: 220px;
    position: relative;
    float: left;
    margin-top: -40px;
    padding-left: 20px;
}
#geral #header .boxBusca h2{
     background: url(../imagens/ico-encontre-imovel.png) no-repeat scroll 0 0; 
     font-family: 'latolight_italic';
     font-size: 39px;
     color: #fff;
     padding-left: 70px;
     margin-top: 12px;
     line-height: 60px;
     float: left;
     letter-spacing: -2px;
}
span.destq{
    font-family: 'latoitalic';
}
#geral #header .boxBusca ul{
    float: left;
    margin: 25px 0 0 35px;
}
#geral #header .boxBusca ul li{
    float: left;
    margin-left: -22px;
}
#geral #header .boxBusca ul li a{
    background: url(../imagens/spt-filtro.png) no-repeat scroll 0 0; 
    display: block;
    text-indent: -9999px;
    height: 45px;
}
#geral #header .boxBusca ul li a.transacao{
    background-position: 0 0;
    width: 158px;
}
#geral #header .boxBusca ul li a.tipo{
    background-position: -156px 0;
    width: 99px;
}
#geral #header .boxBusca ul li a.bairro{
    background-position: -253px 0;
    width: 113px;
}
#geral #header .boxBusca ul li a.quartos{
    background-position: -365px 0;
    width: 130px;
}
#geral #header .boxBusca ul li a.preco{
    background-position: -494px 0;
    width: 107px;
}
#geral #header .boxBusca .boxDestaque{
    background: #fff;
    height: 85px;
    width: 900px;
    float: left;
    margin-top: -5px;
}
#geral #header .boxBusca .boxDestaque .opcao{
    background: url(../imagens/bg-selecao-imovel.png) no-repeat scroll 0 0;
    position: relative;
    float: left;
    width: 211px;
    height: 40px;
    text-transform: uppercase;
    margin: 22px 0 0 243px;
    line-height: 43px;
}
#geral #header .boxBusca .boxDestaque .opcao.aux{
    margin-left: 5px;
}
#geral #header .boxBusca .boxDestaque .opcao label{
    font-family: 'latolight_italic';
    color: #666666;
    font-size: 14px;
}
#geral #header .boxBusca h3{
    background: url(../imagens/legenda-buscar-imoveis.jpg) no-repeat scroll 0 0;
    width: 212px;
    height: 41px;
    text-indent: -9999px;
   clear: both;
   margin: 0 auto;
}

/* estiliza o radio buttom */
.custom-form-radio {
    float:left;
    display:block;
    width:18px;
    height:18px;
    background:url(../imagens/spt-radio.png) no-repeat scroll 0 0 transparent;
    margin: 12px 0 0 10px;
}
.custom-form-radio.custom-form-focused {
    background-position: 0 -18px;
}

.custom-form-radio.custom-form-checked {
    background-position:0 -18px;
}

.custom-form-radio.custom-form-checked.custom-form-focused {
    background-position:0 -18px;
}

/* =================== tags =============== */
#conteudo h2{
    font-family: 'latolight_italic';
}
#conteudo h3{
    font-family: 'latoitalic';
}
#conteudo p{
    font-family: 'latoitalic';
}
#conteudo a.btnSaibaMais{
    background:url(../imagens/btn-mais.jpg) repeat scroll 0 0 transparent;
    width: 62px;
    height: 33px;
    display: block;
    text-indent: -9999px;
}
#conteudo label{
    font-family: 'latoitalic';
}
#conteudo input[type="text"]{
    background:url(../imagens/bg-cpos-login.jpg) no-repeat scroll 0 0 transparent;
    width: 218px;
    height: 41px;
    font-family: 'latoitalic';
    font-size: 14px;
    color: #bebebe;
    padding: 0 12px;
    text-transform: uppercase;
    line-height: 41px;
}

/* ================== conteudo ================= */
#conteudo{
    position: relative;
    width: 100%;
    float: left;
}
#conteudo ul.listaImoveis li{
    background: #fff;
    position: relative;
    float: left;
    width: 210px;
    height: 327px;
    padding: 5px;
    margin-right: 18px;
    border-left: 1px solid #e8e7e7;
    border-right: 1px solid #e8e7e7;
    border-bottom: 1px solid #d3d3d2;
}
#conteudo ul.listaImoveis li img.fotoImovel{
    margin-bottom: 9px;
}
#conteudo ul.listaImoveis li h4{
    color: #068592;
    font-family: 'latoitalic';
    font-size: 15px;
    font-weight: normal;
    float: left;
    margin: 5px 0 0 5px;
}
#conteudo ul.listaImoveis li img.status{
    float: right;
    margin:0 5px 5px 0;
}
#conteudo ul.listaImoveis li span.seloNovo{
    background:url(../imagens/selo-novo.png) repeat scroll 0 0 transparent;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
}
#conteudo ul.listaImoveis li ul.infos li{
    background:url(../imagens/bg-infos.listaImoveis.jpg) repeat scroll 0 0 transparent;
    width: 198px;
    height: 30px;
    margin-bottom: 3px;
    line-height: 30px;
    border: none;
}
#conteudo ul.listaImoveis li ul.infos li span.esquerda{ 
    display: block;
    width: 50%;
    text-align: left;
    text-transform: uppercase;
    float: left;
    font-family: 'latoregular';
    font-size: 10px;
    font-weight: bold;
}
#conteudo ul.listaImoveis li ul.infos li span.direita{
    width: 50%;
    text-align: right;
    float: left;
    font-size: 15px;
    font-family: 'latoitalic';
}

/* ============== footer =============== */
#footer{
    background:url(../imagens/bg-footer.jpg) repeat scroll 0 0 transparent;
    position: relative;
    width: 100%;
    height: 306px;
    float: left;
    z-index: 9999;
}
#footer h5{
    font-family: 'latoitalic';
    font-size: 25px;
    color: #ffffff;
}
#footer ul{
    margin-top: 33px;
    float: left;
    position: relative;
    z-index: 9999;
}
#footer ul li{
    float: left;
    margin-right: 70px;
}
#footer ul li ul{
    margin-top: 15px;
    border-left: 1px solid #707070;
}
#footer ul li ul li{
    clear: both;
    float: left;
    margin:5px 0 0 12px;
}
#footer ul li ul li a{
    font-family: 'latolight_italic';
    font-size: 16px;
    color: #BEBEBE;
}
#footer ul li ul li a:hover{
    text-decoration: underline;
}
#footer img.seloPagamento{
    position: absolute;
    z-index: 9998;
    right: -5px;
}
#footer ul.formasPagamento{
    background:url(../imagens/spt-formas-pagamento.png) repeat scroll 0 0 transparent;
    width: 190px;
    height: 95px;
    margin: 95px 0 0 100px;
}
#footer ul.formasPagamento li{
    display: none;
}
#footer p.copyright{
    font-family: 'latoitalic';
    font-size: 12px;
    color: #BEBEBE;
    text-transform: uppercase;
    float: left;
    clear: both;
    margin-top: 65px;
}
#footer a.seloInoltz{
    background:url(../imagens/produzido-por-inoltz.jpg) repeat scroll 0 0 transparent;
    width: 105px;
    height: 12px;
    display: block;
    text-indent: -9999px;
    float: right;
    margin-top: 65px;
}