@font-face {
    font-family: 'latoblack';
    src: url('fontes/lato-black-webfont.eot');
    src: url('fontes/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
    src: url('fontes/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-black-webfont.woff') format('woff'),
         url('fontes/lato-black-webfont.ttf') format('truetype'),
         url('fontes/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack_italic';
    src: url('fontes/lato-blackitalic-webfont.eot');
    src: url('fontes/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/fontes/lato-blackitalic-webfont.woff') format('woff'),
         url('fontes/lato-blackitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('fontes/lato-bold-webfont.eot');
    src: url('fontes/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-bold-webfont.woff') format('woff'),
         url('fontes/fontes/fontes/fontes/lato-bold-webfont.ttf') format('truetype'),
         url('fontes/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold_italic';
    src: url('fontes/lato-bolditalic-webfont.eot');
    src: url('fontes/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-bolditalic-webfont.woff') format('woff'),
         url('fontes/lato-bolditalic-webfont.ttf') format('truetype'),
         url('fontes/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline';
    src: url('fontes/lato-hairline-webfont.eot');
    src: url('fontes/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-hairline-webfont.woff') format('woff'),
         url('fontes/lato-hairline-webfont.ttf') format('truetype'),
         url('fontes/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline_italic';
    src: url('fontes/lato-hairlineitalic-webfont.eot');
    src: url('fontes/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-hairlineitalic-webfont.woff') format('woff'),
         url('fontes/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('fontes/lato-italic-webfont.eot');
    src: url('fontes/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-italic-webfont.woff') format('woff'),
         url('fontes/lato-italic-webfont.ttf') format('truetype'),
         url('fontes/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fontes/lato-light-webfont.eot');
    src: url('fontes/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-light-webfont.woff') format('woff'),
         url('fontes/lato-light-webfont.ttf') format('truetype'),
         url('fontes/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight_italic';
    src: url('fontes/lato-lightitalic-webfont.eot');
    src: url('fontes/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-lightitalic-webfont.woff') format('woff'),
         url('fontes/lato-lightitalic-webfont.ttf') format('truetype'),
         url('fontes/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('fontes/lato-regular-webfont.eot');
    src: url('fontes/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fontes/lato-regular-webfont.woff') format('woff'),
         url('fontes/lato-regular-webfont.ttf') format('truetype'),
         url('fontes/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	border:0;
	list-style: none;
	text-decoration: none;
}
table{
	border-collapse: collapse;
}

#geral{
	position: relative;
	width: 100%;
}
.centraliza{
	position: relative;
	width: 960px;
	margin: 0 auto;
}

/* ============================= header =========================== */
#geral #header{
	background: url(../imagens/bg-cont-header.jpg) repeat;
	position: relative;
	width: 100%;
	height: 351px;
}
#geral #header h1 a.logo{
	background: url(../imagens/logo.png) repeat;
	width: 191px;
	height: 169px;
	display: block;
	text-indent: -9999px;
	margin: 32px 20px 0 0;
	float: left;
}
#geral #header .banner{
	position: relative;
    float: left;
    width: 728px;
    height: 90px;
    margin: 20px 0 0 0; 
}
#geral #header .busca{
    background: url(../imagens/bg-busca.png) repeat;
    position: relative;
    width: 423px;
    height: 56px;
    float: left;
    margin-top: 18px;
}
#geral #header .busca input[type="text"]{
    background: none;
    width: 350px;
    height: 50px;
    margin: 1px 0 0 25px;
    font-family: 'latolight_italic';
    font-size: 25px;
    color: #fff;
    float: left;
}
#geral #header .busca input[type="buttom"]{
    background: url(../imagens/ico-busca.png) repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: left;
    margin-top: 7px;
}
#geral #header .selecaoEstadoCidade{
    background: url(../imagens/bg-selecao-estado-cidade.png) repeat;
    float: left;
    width: 297px;
    height: 50px;
    margin: 19px 0 0 10px;
}
#geral #header .extHeader{
    background: url(../imagens/bg-header.png) no-repeat scroll -10px 0;
    width: 960px;
    height: 100px;
    position: relative;
    float: left;
    clear: both;
}
#geral #header .extHeader ul{
    margin: 5px 0 0 220px;
    float: left;
}
#geral #header .extHeader ul li{
    float: left;
    margin-left: 25px;
}
#geral #header .extHeader ul li:first-child{
    margin-left: 0;
}
#geral #header .extHeader ul li a{
    width: 137px;
    height: 40px;
    line-height: 38px;
    display: block;
    text-align: center;
    font-family: 'latoitalic';
    color: #b9b9b9;
    text-transform: uppercase;
}
#geral #header .extHeader ul li a.atv, #geral #header .extHeader ul li a:hover{
     background: url(../imagens/bg-selecao.png) no-repeat scroll 0 0; 
     color: #fff;
}