/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
  background: none;
  font-family: 'latolight_italic';
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  margin-bottom: 18px;
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../imagens/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  color: #c1c1c0;
  padding: 7px 7px 7px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  text-transform: uppercase;
}
/* Applied whenever the dropdown is open */
.dk_open {

  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    
    color: #fff;
   
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
  }

/* The outer container of the options */

  #dk_container_estado .dk_options a,
  #dk_container_cidade .dk_options a{
    background-color: #2c2c2c;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 0 8px 10px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  #dk_container_estado2 .dk_options a,
  #dk_container_mesValidade .dk_options a,
  #dk_container_mesValidade .dk_options a,
  #dk_container_anoValidade .dk_options a,
  #dk_container_anoValidade .dk_options a{
    background-color: #F5F5F5;;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 0 8px 10px;
   }
  #dk_container_estado2 .dk_options a:hover,
  #dk_container_estado2 .dk_option_current a,
  #dk_container_mesValidade .dk_options a:hover,
  #dk_container_mesValidade .dk_option_current a,
  #dk_container_anoValidade .dk_options a:hover,
  #dk_container_anoValidade .dk_option_current a{
    background-color: #e7e7e7;
    color: #666666;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
  }

  #dk_container_estado .dk_options a:hover,
  #dk_container_estado .dk_option_current a,
  #dk_container_cidade .dk_options a:hover,
  #dk_container_cidade .dk_option_current a {
    background-color: #1a1b1a;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  color: #C1C1C0;
  max-height: 250px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
  margin: 10px 0 0 15px;
}
/*  .dk_container a {
    outline: 0;
    width: 75px !important;
  }
*/
.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  left: 0;
  width: 120px;
}
.dk_options ul li{
  
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;  
  }
  #dk_container_estado .dk_options a,
  #dk_container_estado .dk_options a:link,
  #dk_container_estado.dk_options a:visited,
  #dk_container_cidade .dk_options a,
  #dk_container_cidade .dk_options a:link,
  #dk_container_cidade.dk_options a:visited{
    width: 110px !important;
  }
   #dk_container_estado2 .dk_options a,
  #dk_container_estado2 .dk_options a:link,
  #dk_container_estado2.dk_options a:visited{
    width: 150px !important;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
