#conteudo{
	padding-top: 55px;
}
#conteudo h2{
	font-size: 43px;
	text-align: center;
	color: #068592;
	font-family: 'latoitalic';
}
#conteudo h3{
	font-size: 30px;
	text-align: center;
	font-family: 'latoitalic';
	color: #068592;
	margin-top: 30px;
}
#conteudo h5{
	font-family: 'latoitalic';
	font-size: 20px;
	color: #666666;
	text-align: center;
	margin-bottom: 10px;
}
#conteudo p.esclarecimento{
	margin: 10px 0 22px 0;
	font-size: 20px;
	color: #666666;
	text-align: center;
}
#conteudo p.esclarecimento a{
	font-family: 'latoblack_italic';
	color: #068592;
}
#conteudo h4{
	color: #068592;
	font-size: 18px;
	font-family: 'latoitalic';
	margin-top: 30px;
}
#conteudo form.faleConosco{
	margin: 0 auto;
	position: relative;
	width: 610px;
}
#conteudo form input[type="text"] {
	background: #edecec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #999999;
	margin-bottom: 10px;
	width: 590px;
	text-transform: none;
	border-top: 1px solid #d7ddde;
	border-bottom: 1px solid #ffffff;
}
#conteudo .erro{
	background: #f3e6e6 !important;
}
#conteudo form input[type="text"]:focus{
	background: #e4eaeb;
	color: #068592;
}
#conteudo form textarea{
	background: #edecec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 595px;
	height: 135px;
	margin-top: 10px;
	font-family: 'latoitalic';
	font-size: 14px;
	padding: 10px;
	color: #999999;
	border-top: 1px solid #d7ddde;
	border-bottom: 1px solid #ffffff;
}
#conteudo form input.enviar {
    background: url("../imagens/btn-enviar-faq.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 41px;
    margin: 10px 0 0 0;
    width: 112px;
}
#conteudo form textarea:focus{
	background: #e4eaeb;
	color: #068592;
}
#conteudo .feedback{
	margin: 100px 0 0 0;
	display: none;
}

#conteudo #login{
	margin-top: 185px;
}
#conteudo #login .redesLogin a.perguntasFrequentes {
    background: url("../imagens/img-perguntas-frequentes.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 22px;
    margin-left: 20px;
    text-indent: -9999px;
    width: 163px;
}


#conteudo .box{
    background: url(../imagens/bg-ext-login.jpg) repeat scroll 0 0 transparent;
    width: 476px;
    height: 30px;
    padding: 13px 0 0 14px;
    position: relative;
    top: -53px;
    display: none;
}

.custom-form-checkbox {
    float:left;
    display:block;
    width:21px;
    height:17px;
    margin-right:10px;
    background:url(../imagens/spt-check.png) no-repeat scroll 0 2px transparent;
    cursor: pointer;
    float: left;
}
.custom-form-checkbox.custom-form-checked {
    background-position:0 -17px;
}
#conteudo .box label{
    color: #bebebe;
    font-size: 14px;
    margin-top: 2px;
    float: left;
}

#conteudo .esqueceuSenha{
    position: relative;
    float: right;
    margin-right: 100px;
}

#conteudo .esqueceuSenha a.tool{
    background:url(../imagens/ico-interrogacao.png) no-repeat scroll 0 2px transparent;
    display: block;
    width: 22px;
    height: 21px;
    text-indent: -9999px;
    float: left;
}

#conteudo .esqueceuSenha p{
    font-family: 'latoitalic';
    font-size: 14px;
    float: left;
    margin: 4px 0 0 5px;
}

#conteudo .esqueceuSenha p a{
    color: #bebebe;
}
#conteudo #login .redesLogin {
	position: absolute;
	top: 0px;
	right: 0px;
}
#conteudo #login input.btnLogin {
	background: url(../imagens/btn-login.jpg) repeat scroll 0 0 transparent;
	width: 114px;
	height: 41px;
	cursor: pointer;
	float: left;
	position: absolute;
	top: 0;
}
#conteudo input.mail{
	background: url(../imagens/bg-cpos-login.jpg) no-repeat scroll 0 0 transparent!important;
	width: 198px!important;
	height: 41px!important;
	font-family: 'latoitalic'!important;
	font-size: 14px!important;
	color: #bebebe!important;
	padding: 0 12px!important;
	line-height: 41px!important;
	border-top: 0 none!important;
	border-bottom: 0 none!important;
	box-shadow: none!important;
	position: relative!important;
	top: -45px!important;
	display: none;
}
#conteudo input.senha{
	background: url(../imagens/bg-cpos-login.jpg) no-repeat scroll 0 0 transparent!important;
	width: 198px!important;
	height: 41px!important;
	font-family: 'latoitalic'!important;
	font-size: 14px!important;
	color: #bebebe!important;
	padding: 0 12px!important;
	line-height: 41px!important;
	border-top: 0 none!important;
	border-bottom: 0 none!important;
	box-shadow: none!important;
	position: relative!important;
	top: -45px!important;
	display: none;
}

