#conteudo{
	padding-top: 55px;
}
#conteudo h2{
	font-size: 43px;
	text-align: center;
	color: #068592;
	margin-bottom: 25px;
}
#conteudo h3{
	font-size: 30px;
	text-align: center;
	font-family: 'latoitalic';
	color: #068592;
	margin-top: 30px;
	letter-spacing: -1px;
}
#conteudo .perguntas p{
	margin-top: 20px;
	font-size: 16px;
	color: #666666;
	border-top: 1px solid #E9E9EA;
	padding-top: 10px;
}
#conteudo ul li{
	background: url("../imagens/seta-faq-fechado.jpg") no-repeat scroll 900px 35px #FFFFFF;
	width: 895px;
	border-bottom: 1px solid #d1d1d1;
	padding: 22px 0;
	font-family: 'latoitalic';
	font-size: 22px;
	color: #666666;
	padding-right: 45px;
	margin-bottom: 4px;
}
#conteudo ul li.atv{
	background: url("../imagens/seta-faq-aberto.jpg") no-repeat scroll 900px 35px #FFFFFF !important;
}
#conteudo ul li.destaque{
	background: url("../imagens/seta-faq-fechado-destaque.jpg") no-repeat scroll 900px 35px #FFFFFF !important;
	color: #068592 !important;
}
#conteudo ul li.destaque.atv{
	background: url("../imagens/seta-faq-aberto-destaque.jpg") no-repeat scroll 900px 35px #FFFFFF !important;
}
#conteudo ul li h4{
	text-align: center;
	cursor: pointer;
	font-size: 22px;
}
#conteudo ul li p{
	margin-left: 22px;
	display: none;
}
#conteudo h5{
	font-family: 'latoitalic';
	font-size: 20px;
	color: #666666;
	text-align: center;
	margin-bottom: 10px;
}
#conteudo .feedback{
	margin: 100px 0 0 0;
	display: none;
}
#conteudo .formContato{
	position: relative;
	width: 612px;
	margin: 15px auto 0 auto;
}
#conteudo .formContato input[type="text"]{
	background: #edecec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666666;
	margin-right: 10px;
	width: 270px;
	text-transform: none;
}
#conteudo .formContato input[type="text"]:focus{
	background: #e4eaeb;
	color: #068592;
}
#conteudo .formContato textarea{
	background: #edecec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 582px;
	height: 85px;
	margin-top: 10px;
	font-family: 'latoitalic';
	font-size: 14px;
	padding: 10px;
	color: #999999;
}
#conteudo .formContato textarea:focus{
	background: #e4eaeb;
	color: #068592;
}
#conteudo .formContato input.enviar{
	background: url("../imagens/btn-enviar-faq.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    height: 41px;
    width: 112px;
    float: right;
    margin: 10px 10px 0 0;
}


#conteudo #login{
	margin-top: 185px;
}
#conteudo #login .redesLogin a.perguntasFrequentes {
    background: url("../imagens/img-perguntas-frequentes.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 22px;
    margin-left: 20px;
    text-indent: -9999px;
    width: 163px;
}
#conteudo .box{
    background: url(../imagens/bg-ext-login.jpg) repeat scroll 0 0 transparent;
    width: 476px;
    height: 30px;
    padding: 13px 0 0 14px;
    position: relative;
    top: -53px;
    display: none;
}

.custom-form-checkbox {
    float:left;
    display:block;
    width:21px;
    height:17px;
    margin-right:10px;
    background:url(../imagens/spt-check.png) no-repeat scroll 0 2px transparent;
    cursor: pointer;
    float: left;
}
.custom-form-checkbox.custom-form-checked {
    background-position:0 -17px;
}
#conteudo .box label{
    color: #bebebe;
    font-size: 14px;
    margin-top: 2px;
    float: left;
}

#conteudo .esqueceuSenha{
    position: relative;
    float: right;
    margin-right: 100px;
}

#conteudo .esqueceuSenha a.tool{
    background:url(../imagens/ico-interrogacao.png) no-repeat scroll 0 2px transparent;
    display: block;
    width: 22px;
    height: 21px;
    text-indent: -9999px;
    float: left;
}

#conteudo .esqueceuSenha p{
    font-family: 'latoitalic';
    font-size: 14px;
    float: left;
    margin: 4px 0 0 5px;
    border-top:0 none!important;
    padding-top: 0;
    margin-top: 0;
}

#conteudo .esqueceuSenha p a{
    color: #bebebe;
}
#conteudo #login .redesLogin {
	position: absolute;
	top: 0px;
	right: 0px;
}
#conteudo #login input.btnLogin {
	background: url(../imagens/btn-login.jpg) repeat scroll 0 0 transparent;
	width: 114px;
	height: 41px;
	cursor: pointer;
	float: left;
	position: absolute;
	top: 0;
}
#conteudo input.mail{
	background: url(../imagens/bg-cpos-login.jpg) no-repeat scroll 0 0 transparent;
	width: 198px;
	height: 41px;
	font-family: 'latoitalic';
	font-size: 14px;
	color: #bebebe;
	padding: 0 12px;
	line-height: 41px;
	border-top: 0 none;
	border-bottom: 0 none;
	box-shadow: none;
	position: relative;
	top: -45px;
	display: none;
}
#conteudo input.senha{
	background: url(../imagens/bg-cpos-login.jpg) no-repeat scroll 0 0 transparent;
	width: 198px;
	height: 41px;
	font-family: 'latoitalic';
	font-size: 14px;
	color: #bebebe;
	padding: 0 12px;
	line-height: 41px;
	border-top: 0 none;
	border-bottom: 0 none;
	box-shadow: none;
	position: relative;
	top: -45px;
	display: none;
}

